{% extends 'base.html' %}

{% block body %}
<div class='row'>
	<div class='col-sm-5'>
		<form method='post' action=''>{%csrf_token%}
			<div class='form-group'>
				<label for='search_term'>what</label>
				<input type='text' class='form-control' name='search_term' placeholder="examples: deli, starbucks" required>
			</div>
			<div class='form-group'>
				<label for='location'>where</label>
				<input type='text' class='form-control' name='location' placeholder="examples: atlanta, LA" required>
			</div>
			<button type='submit' class='btn btn-success'>do thing</button>
		</form>
	</div>

	<div class='col-sm-7'>
		{% if not average_price %}
		<div class='jumbotron'>
			<p>make a mosaic of some businesses in your city</p>
		</div>
		{% else %}
		<div class='row'>
			<div class='stat-panel row'>
				<div class='col-sm-6'>
					<h2>You searched for...</h2>
					<p>Search Term: <span class='label label-info'>{{search_term}}</span></p>
					<p>Location: <span class='label label-info'>{{location}}</span></p>
				</div>
				<div class='col-sm-6'>
					<h2>About Your Results</h2>
					<p>Average Price (1-4): <span class='label label-info'>{{average_price}}</span></p>
					<p>Average Rating (1-5): <span class='label label-info'>{{average_rating}}</span></p>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div class='row'>
	<div class='masonry'>
		{% for name, url in image_dict.items %}
			<div id='grid-selector' class='item-200'>
				<div class='hovereffect'>
					<img src="{{url}}" class='img-responsive' />
					<div class='overlay'>
						<h2>{{name}}</h2>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<script type='text/javascript'>
var $g = $('.masonry').imagesLoaded(function(){
	$g.masonry({
		itemSelector: '.item-200',
		columnWidth: 100,
		fitWidth: true,
	});
});
</script>


{% endblock %}